@using System.Globalization
@* This is actually considers the whole assembly, no need to change AppAssembly here. *@

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        @{
            string baseRelativePath = _navigation.ToBaseRelativePath(_navigation.Uri);
            if (baseRelativePath.ToLower(CultureInfo.InvariantCulture).StartsWith("customer"))
            {
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayoutCustomer)" />
            }
            else
            {
                <LayoutView Layout="@typeof(MainLayoutCustomer)">
                    <h3 role="alert">Sorry, This content is not available in customer application.</h3>
                </LayoutView>
            }
            
        }
        
        <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayoutCustomer)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
